{% extends "index.html" %}

{% block content %}
<h4>{{ details['title'] }}</h4>
<h5>{{ details['degree'] }}</h5>
<h5>{{ details['initial'] }}</h5>
<ul>
    {% if details['university']|length > 0 %}
    <li>University: {{ details['university'] }}</li>
    {% endif %}
    
    {% if details['school']|length > 0 %}
    <li>School: {{ details['school'] }}</li>
    {% endif %}
    
    {% if details['department']|length > 0 %}
    <li>Department: {{ details['department'] }}</li>
    {% endif %}
    
    {% if details['type']|length > 0 %}
    <li>Type: {{ details['type'] }}</li>
    {% endif %}
    
    {% if details['description']|length > 0 %}
    <li>Description: {{ details['description'] }}</li>
    {% endif %}
    
    {% if details['requirements']|length > 0 %}
        {% if details['requirements'] is mapping %}
            {% for key, values in details['requirements'].items() %}
                <li>{{key}}</li>
                <ul>
                {% for value in values %}
                    <li>{{value}}</li>
                {% endfor %}
                </ul>
            {% endfor %}
            <li></li>
        {% else %}
            <li>Requirements: {{ details['requirements'] }}</li>
        {% endif %}
    {% endif %}
    
    {% if details['units']|length > 0 %}
    <li>Units: {{ details['units'] }}</li>
    {% endif %}
    
    {% if details['program link']|length > 0 %}
    <li>Program Link: <a href="{{ details['program link'] }}">{{ details['program link'] }}</a></li>
    {% endif %}
    
    {% if details['admission link']|length > 0 %}
    <li>Admission Link: <a href="{{ details['admission link'] }}">{{ details['admission link'] }}</a></li>
    {% endif %}
    
    {% if details['phone']|length > 0 %}
    <li>Admission Link: {{ details['phone'] }}</li>
    {% endif %}
</ul>
{% if details['related courses']|length > 0 %}
<h5>Related Courses:</h5>
<div class="accordion" id="accordionExample">
{% for item in details['related courses'] %}
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ item['initial'] }}" aria-expanded="false" aria-controls="{{ item['initial'] }}">
          {{ item['initial'] }}
        </button>
      </h2>
    </div>

    <div id="{{ item['initial'] }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
            <ul>
                <li>Course Title: {{ item['title'] }}</li>
                {% if item['university']|length > 0 %}
                <li>University: {{ item['university'] }}</li>
                {% endif %}

                {% if item['school']|length > 0 %}
                <li>School: {{ item['school'] }}</li>
                {% endif %}

                {% if item['department']|length > 0 %}
                <li>Department: {{ item['department'] }}</li>
                {% endif %}
                <li>Description: {{ item['description'] }}</li>
                <li>Units: {{ item['units'] }}</li>
            </ul>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}