{% extends 'index.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row bg-img justify-content-center">
        <div class="card search-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#program" data-toggle="tab">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#course" data-toggle="tab">Courses</a>
                    </li>
                </ul>
            </div>
            <div class="card-body tab-content">
                <form class="tab-pane fade show active" id="program">
                    1
                </form>
                <form class="tab-pane fade show" id="course">
                    2
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            filter
        </div>
        <div class="col-md-9 results-wrapper">
            result list
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

