{% extends 'index.html' %}

{% block results %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 results-wrapper" id="results" name="results">
                <div class="table-responsive pre-scrollable" style="max-height: 700px;">
                    <table class="table table-hover" id="data">
                        <thead>
                            {% if type == "program" %}
                            <tr>
                                <th>Title</th>
                                <th>Degree</th>
                                <th>Department</th>
                                <th>University</th>
                            </tr>
                            {% endif %}
                            {% if type == "course" %}
                            <tr>
                                <th>Title</th>
                                <th>Course Id</th>
                                <th>Department</th>
                                <th>University</th>
                            </tr>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for item in results %}
                            <tr>
                                <td><a class="nav-link " href="{{ url_for('show_details', index=item['_index'], id=item['_id'], item=item['_source']['title'] ) }}">{{ item['_source']['title'] }}</a></td>
                                {% if type == "program" %}
                                <td>{{ item['_source']['degree'] }}</td>
                                {% endif %}
                                {% if type == "course" %}
                                <td>{{ item['_source']['initial'] }}</td>
                                {% endif %}
                                <td>{{ item['_source']['department'] }}</td>
                                <td>{{ item['_source']['university'] }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    <div class="float-right">{{ pagination.links }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script> window.location.hash="results"; </script>
{% endblock scripts %}

