{% extends 'index.html' %}

{% block results %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                filter
            </div>
            <div class="col-md-9 results-wrapper" id="results" name="results">
                <div class="table-responsive pre-scrollable" style="max-height: 600px;">
                    <table class="table table-hover" id="data">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Type</th>
                                <th>University</th>
                                <th>School</th>
                                <th>Department</th>
                                <th>Degree</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in results %}
                            <tr>
                                <td><a class="nav-link " href="{{ url_for('show_details', item=item['_source']['title'] ) }}">{{ item['_source']['title'] }}</a></td>
                                <td>{{ item['_source']['type'] }}</td>
                                <td>{{ item['_source']['university'] }}</td>
                                <td>{{ item['_source']['school'] }}</td>
                                <td>{{ item['_source']['department'] }}</td>
                                <td>{{ item['_source']['degree'] }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    {{ pagination.links }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script> window.location.hash="results"; </script>
{% endblock scripts %}

